* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #826A6C
}

#logout {
    display: block;
    margin-right: 40px;
}

#fb-btn {
    margin-top: 15px;
    margin-right: 40px;
}